.hero {
    width: 100%;
    min-height: calc(100vh - 4.7119375rem);
    font-family: 'Russo One', sans-serif;
    color: $transparentWhite;
    overflow: hidden;
    text-align: center;
}

.hero-text {
   margin-top: 15rem;
   h1{
    font-size: 3rem;
    font-size: clamp(3rem, 2.6rem + 2vw, 5rem);
    letter-spacing: 0.1rem;
    margin-bottom: 6rem;
   }
   h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2rem;
    font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
    letter-spacing: 0.2rem;
   }
   
}

